<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.zakky.stickyshortcut"
      android:versionCode="4"
      android:versionName="0.9.3">
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="false">
        
        <!-- 通常起動の際に呼び出されるアクティビティ -->
        <activity android:name=".InfoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- スティッキーショートカットから呼ばれるアクティビティ -->
        <activity android:name=".LauncherActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="org.zakky.stickyshortcut.LAUNCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ショートカット作成の際に呼び出される Activity -->
        <activity android:name=".CreateShortcutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />
</manifest> 
